#Data Exploration

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./Data/health_data.csv')

In [4]:
df

,Age,Sex,HighChol,CholCheck,BMI,Smoker,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,GenHlth,MentHlth,PhysHlth,DiffWalk,Diabetes,Hypertension,Stroke
0,4,1,0,1,26,0,0,1,0,1,0,3,5,30,0,0,1,0
1,12,1,1,1,26,1,0,0,1,0,0,3,0,0,0,0,1,1
2,13,1,0,1,26,0,0,1,1,1,0,1,0,10,0,0,0,0
3,11,1,1,1,28,1,0,1,1,1,0,3,0,3,0,0,1,0
4,8,0,0,1,29,1,0,1,1,1,0,2,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70687,6,0,1,1,37,0,0,0,0,1,0,4,0,0,0,1,0,0
70688,10,1,1,1,29,1,1,0,1,1,0,2,0,0,1,1,0,0
70689,13,0,1,1,25,0,1,0,1,0,0,5,15,0,1,1,1,0
70690,11,0,1,1,18,0,0,0,0,0,0,4,0,0,1,1,1,0
70691,9,0,1,1,25,0,1,1,1,0,0,2,0,0,0,1,1,0